<header class="jumbotron hero-spacer">
    <h1>Fantasy Football Network (Beta)</h1>
    <p>Connect and compete with your friends who play Fantasy Football, even if you play in seperate leagues!</p>
    <p>You get scored based on how well you play Fantasy Football so that you can play with anyone else
        who also plays Fantasy Football. We track all your moves, trades, who you start and sit, the outcome, and every
    quantifiable aspect of Fantasy Football. As a result, you can track all of that for your friends too!</p>
    <p><a ng-href="/#!/signup" class="btn btn-primary btn-large">Sign up now!</a>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>How it works</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Signup</h3>
                <p>After you link your fantasy football accounts, we pull all your old teams, and track your current ones.</p>
                <p>
                    <a ng-href="/#!/signup" class="btn btn-primary">Sign up</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Get Scored</h3>
                <p>Our unique algorithm standardizes performance across leagues of all types and sizes.</p>
                <p>
                    <a data-ng-click="goToTopProfile()" class="btn btn-primary">See the Top Profile</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Compare</h3>
                <p>See how your score compares to your friends. Check your place on the site wide leaderboads!</p>
                <p>
                    <a ng-href="/#!/leaderboard" class="btn btn-primary">Leaderboard</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Network</h3>
                <p>Add your friends to your network. You can track their scores, standings, and moves with ease!</p>
                <p>
                    <a class="btn btn-primary">Coming Soon!</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
<!--    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>-->
</footer>

