<header class="jumbotron hero-spacer">
    <h1>Fantasy Football Network (Beta)</h1>
    <p>Connect and compete with your friends who play Fantasy Football, even if you play in seperate leagues!</p>
    <p>You get scored based on how well you play Fantasy Football so that you can play with anyone else
        who also plays Fantasy Football. We track all your moves, trades, who you start and sit, the outcome, and every
    quantifiable aspect of Fantasy Football. As a result, you can track all of that for your friends too!</p>
    <p><a ng-href="/#!/signup" class="btn btn-primary btn-large">Sign up now!</a>
    </p>
</header>

<hr>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>How it works</h3>
    </div>
</div>
<!-- /.row -->

<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
             <i class="fa fa-address-card landing-page-icon"></i>
<!--            <img src="http://placehold.it/800x500" alt="">-->
            <div class="caption">
                <h3>Signup</h3>
                <p>After you link your fantasy football accounts, we pull all your old teams, and track your current ones.</p>
                <p>
                    <a ng-href="/#!/signup" class="btn btn-primary">Sign up</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <i class="fa fa-cogs landing-page-icon"></i>
<!--            <img src="http://placehold.it/800x500" alt="">-->
            <div class="caption">
                <h3>Get Scored</h3>
                <p>Our unique algorithm standardizes performance across leagues of all types and sizes.</p>
                <p>
                    <a data-ng-click="goToTopProfile()" class="btn btn-primary">See the Top Profile</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <i class="fa fa-balance-scale landing-page-icon"></i>
<!--            <img src="http://placehold.it/800x500" alt="">-->
            <div class="caption">
                <h3>Compare</h3>
                <p>See how your score compares to your friends. Check your place on the site wide leaderboads!</p>
                <p>
                    <a ng-href="/#!/leaderboard" class="btn btn-primary">Leaderboard</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <i class="fa fa-sitemap landing-page-icon"></i>
<!--            <img src="http://placehold.it/800x500" alt="">-->
            <div class="caption">
                <h3>Network</h3>
                <p>Add your friends to your network. You can track their scores, standings, and moves with ease!</p>
                <p>
                    <a class="btn btn-primary">Coming Soon!</a>
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<hr>
<div class="row">
    <div class="col-lg-12">
        <h3>What's the point?</h3>
    </div>
    <div class="col-lg-12">
        <h4>Connect with <b>EVERYONE</b> you know who plays</h4>
        <p>
            Nearly 60 million people<sup>1</sup> are expected to play fantasy sports in 2017! With so many people playing
        there are lots of opportunities to play with different groups of people, but every additional league takes time (and possibly money). As a result
        most people miss out on playing with some group of people whether it's childhood friends, extended family, workplace colleagues, new friends, etc. 
        Fantasy Football Network will allow you to connect with anyone you like. Once you connect you can
        </p>                    
        <ul>
            <li>Get weekly updates on how their teams did</li>
            <li>Receive notifications of trades and moves they make</li>
            <li>See the status in their current leagues</li>
            <li>View every team they have ever managed</li>
        </ul>
        <h4>Compete against anyone with <b>NO ADDITIONAL EFFORT</b></h4>
        <p>
            Play and manage your fantasy teams as your normally would, and Fantasy Football Network will
            score you on how well you did. Our algorithms work independent of the type of league or scoring system in place.
            We factor in things like:        
        </p>
        <ul>
            <li>Whether you won the match up</li>
            <li>How your teams actual performance compared to projections</li>            
            <li>How your opponents' teams actual performance compared to projections</li>    
            <li>Players available on the waiver wire</li>
            <li>Your team's score compared to the rest of your league</li>            
            <li>And much more!</li>
        </ul>
    </div>
    <p><sup>1</sup><a href="http://fsta.org/research/industry-demographics/">http://fsta.org/research/industry-demographics/</a></p>
</div>
<hr>

<!-- Footer -->
<footer>
<!--    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>-->
</footer>

